<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ chatroom.name}}
    {{ request.user.username }}

    <form method="post">
        
        <input id="message-input"type="text" name="message" placeholder="Enter Message">
        <button id="send-button" type="submit">Send</button>
    </form>
    {{ chatroom.slug|json_script:"json-chatroomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script>
        const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent);
        const username = JSON.parse(document.getElementById('json-username').textContent);
        
        const chatSocket = new WebSocket(
            'ws://'
            +window.location.host
            +'/ws/'
            +chatRoomName
            +'/'
        );

        chatSocket.onmessage = function(e){
            console.log('This is a message')
        }

        chatSocket.onclose = function(e){
            console.log('Socket Closed')
        }

        document.getElementById('send-button').onclick = function(e){
            e.preventDefault()
            const messageInput = document.getElementById('message-input')
            const message = messageInput.value
            console.log(message)
            

            chatSocket.send(JSON.stringify({
                'message':message,
                'username':username,
                'room':chatRoomName

            }))
            messageInput.value = ""
        }

    </script>

</body>
</html>